<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>全部</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>高颜值</string>
		<key>type</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>偶像派</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>好声音</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>有才艺</string>
		<key>type</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>小鲜肉</string>
		<key>type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>搞笑</string>
		<key>type</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>劲爆</string>
		<key>type</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>还有更多</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
