<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1385536285032.png</string>
		<key>intro</key>
		<string>&apos;我的逃亡之旅到底还需要持续多久？即使是最强之风，终有一天也会在瓦罗兰大陆中逝去&apos;-亚索</string>
		<key>name</key>
		<string>疾风剑豪·亚索</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1381398467886.png</string>
		<key>intro</key>
		<string>金克丝活着就是为了不计后果的四处肆虐，在她身后留下的只有一片混乱与恐慌。她是一名暴躁而残忍的罪犯，她蔑视一切仅仅是因为无聊，她会在她认为最无趣的地方：皮尔特沃夫。</string>
		<key>name</key>
		<string>暴走萝莉·金克丝</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1376619482925.png</string>
		<key>intro</key>
		<string>卢锡安使用的是拥有传承力量的神圣武器，并成为对付不死族群的卫士。他冷静而强大，面对无尽的恐怖时仍然可以惩罚对手通过其拥有的驱除之火。</string>
		<key>name</key>
		<string>圣枪游侠·卢锡安</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1371093644361.png</string>
		<key>intro</key>
		<string>&apos;战者，或为荣耀，或为赞颂。然此皆仅为战所存也。&apos;——亚托克斯</string>
		<key>name</key>
		<string>暗裔剑魔·亚托克斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>231871561051.png</string>
		<key>intro</key>
		<string>闭上眼睛，让寒冷将你夺去。&apos;——丽桑卓</string>
		<key>name</key>
		<string>冰霜女巫·丽桑卓</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>228242993255.png</string>
		<key>intro</key>
		<string>&apos;即使你没有脊柱，你依然必须站起来。&apos;—扎克</string>
		<key>name</key>
		<string>生化魔人·扎克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>225382419902.png</string>
		<key>intro</key>
		<string>大多数士兵会依赖他们的武器。只有少数人才会真正地相互依赖。——奎因</string>
		<key>name</key>
		<string>德玛西亚之翼·奎因</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>222714396868.png</string>
		<key>intro</key>
		<string>魂锁典狱长的过去鲜为人知，并且大多数细节只存在于童谣和传闻中。它们讲述着一个丧心病狂的狱卒的故事。</string>
		<key>name</key>
		<string>魂锁典狱长·锤石</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>219251317038.png</string>
		<key>intro</key>
		<string>&apos;真遗憾。我有两只拳头，但你的脸上只放得下一只。&apos;-蔚</string>
		<key>name</key>
		<string>皮城执法官·蔚</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>218041566099.png</string>
		<key>intro</key>
		<string>&apos;我即是狂澜，且无法被力挽。&apos;-唤潮鲛姬·娜美。</string>
		<key>name</key>
		<string>唤潮鲛姬·娜美</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>216813987373.png</string>
		<key>intro</key>
		<string>&apos;均衡只是一个骗局，我们才是真正的忍者！&apos;影流之主-劫</string>
		<key>name</key>
		<string>影流之主·劫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>215627419666.png</string>
		<key>intro</key>
		<string>&apos;真正的追随者无需害怕蜘蛛的拥抱。&apos;-伊莉丝</string>
		<key>name</key>
		<string>蜘蛛女皇·伊莉丝</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>212665677660.png</string>
		<key>intro</key>
		<string>如果你愿意探索大自然的奇妙，你会发现有相当一部分数量的动物充分适应着生存环境。当然，偶尔你会遇见一种生物能够适应任何环境。比如：虚空掠夺者-卡&apos;兹克。</string>
		<key>name</key>
		<string>虚空掠夺者·卡&apos;兹克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>210247356941.png</string>
		<key>intro</key>
		<string>&apos;能量属于那些能够运用它的人！&apos;-辛德拉</string>
		<key>name</key>
		<string>暗黑元首·辛德拉</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>209057893970.png</string>
		<key>intro</key>
		<string>&apos;单手宰羊，不如双手屠狼。&apos;——雷恩加尔。</string>
		<key>name</key>
		<string>傲之追猎者·雷恩加尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>207847215830.png</string>
		<key>intro</key>
		<string>黛安娜投身于战斗的热浪中，挥舞着她月牙枪刃，无情地施放着她的月光能量。</string>
		<key>name</key>
		<string>皎月女神·黛安娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>207225320108.png</string>
		<key>intro</key>
		<string>靠近那些美丽的花儿，就靠近一些荆棘&apos;-婕拉</string>
		<key>name</key>
		<string>荆棘之兴·婕拉</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>205773517075.png</string>
		<key>intro</key>
		<string>武装着睿智与魅力，以及标志性的可变形铁锤，杰斯毕生致力于守护他的祖国，皮尔特沃夫。</string>
		<key>name</key>
		<string>未来守护者·杰斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>201804651313.png</string>
		<key>intro</key>
		<string>团结一致的诺克萨斯能够掌控整个世界！而且理应如此！</string>
		<key>name</key>
		<string>诺克萨斯之手·德莱厄斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>197908560081.png</string>
		<key>intro</key>
		<string>这位高大魁梧、披坚执锐的幽魂就已将恐惧深深地植入到了那些见过他的人们的心中。</string>
		<key>name</key>
		<string>战争之影·赫卡里姆</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>198079477246.png</string>
		<key>intro</key>
		<string>为了镇压一个远古的腐败深渊而建的一间寺院。这个深渊是那么地令人不安。韦鲁斯被一间神圣的艾欧尼亚寺院选作守望者。</string>
		<key>name</key>
		<string>惩戒之箭·韦鲁斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>196703018435.png</string>
		<key>intro</key>
		<string>璐璐率性而为的程度，也许联盟中没有哪个英雄能够比得上。在班德尔城中度过的青春岁月中，她总是把大部分时间都花在林间漫步或者做白日梦上。</string>
		<key>name</key>
		<string>仙灵女巫·璐璐</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>195755907116.png</string>
		<key>intro</key>
		<string>&apos;想和我共舞一曲死亡的华尔兹么？&apos;-菲奥娜</string>
		<key>name</key>
		<string>无双剑姬·菲奥娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>193333009937.png</string>
		<key>intro</key>
		<string>诺提勒斯苏醒时，他变得有些不太一样了。庞大的铁质潜水服已经变成了一个浑然一体的甲壳。</string>
		<key>name</key>
		<string>深海泰坦·诺提勒斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>190833295927.png</string>
		<key>intro</key>
		<string>当瑟庄妮出生的时候，部落的预言者就说过，她将会成为统一这个分裂部族的领袖。</string>
		<key>name</key>
		<string>凛冬之怒·瑟庄妮</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>192131975792.png</string>
		<key>intro</key>
		<string>吉格斯生来就有着捣鼓机械的天赋，但他自由散漫、过度亢奋的天性在约德尔科学家当中实属罕见。很早以前，吉格斯就已经制造出了一批被他亲昵地称为&apos;海克斯爆破&apos;的强力炸弹。</string>
		<key>name</key>
		<string>爆破鬼才·吉格斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>188475951613.png</string>
		<key>intro</key>
		<string>在年轻时，维克托就发现了他对科学与发明的激情，特别是机械自动化这一领域。他参加了祖安享有盛名的科技魔法大学，并带领了一支队伍，研发出了布里兹这一科学史上的突破。</string>
		<key>name</key>
		<string>机械先驱·维克托</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>186599920512.png</string>
		<key>intro</key>
		<string>沃利贝尔开始了他漫长而危险的登山历程。当他到达了顶峰，凝视着上面怒吼的风暴，他看见了一个可怕的景象——弗雷卓德整个被战争笼罩。</string>
		<key>name</key>
		<string>雷霆咆哮·沃利贝尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1371636483394.png</string>
		<key>intro</key>
		<string>一个睿智的萨满发现他可以将整个部落的诅咒通过魔法转移到某一个巨魔战士身上，然而部落里一直没有这样的战士出现...直至特朗德尔出生。</string>
		<key>name</key>
		<string>巨魔之王·特朗德尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>173890450691.png</string>
		<key>intro</key>
		<string>拉克丝天生就属于显赫的皇冠卫队，出自德玛西亚的模范家庭她注定要成就一番伟业。</string>
		<key>name</key>
		<string>光辉女郎·拉克丝</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>174074057446.png</string>
		<key>intro</key>
		<string>古书里将其称为复仇焰魂。这个一个充满灼热仇恨的生物，它的存在就是为了将人类和约德尔人生存的地方夷为平地。</string>
		<key>name</key>
		<string>复仇焰魂·布兰德</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>183638769835.png</string>
		<key>intro</key>
		<string>摆脱了血肉之躯后，泽拉斯几乎能掌控无尽的能量。</string>
		<key>name</key>
		<string>远古巫灵·泽拉斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>180008225874.png</string>
		<key>intro</key>
		<string>&apos;你只能在ducouteau家族看到瓦罗然大陆上最致命的三名用刀高手：我的父亲，我，泰伦。&apos;——卡特琳娜，不详之刃</string>
		<key>name</key>
		<string>刀锋之影·泰隆</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>178647406694.png</string>
		<key>intro</key>
		<string>&apos;人类尚未学会控制他们的魔法——因为卡拉曼达已经变成了历史长河中的一条水晶疮疤（意指新地图水晶之痕）。&apos;</string>
		<key>name</key>
		<string>水晶先锋·斯卡纳</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>176391685171.png</string>
		<key>intro</key>
		<string>&apos;通往全知的第一步是发现自己的无知。&apos;——易大师的第一课</string>
		<key>name</key>
		<string>齐天大圣·孙悟空</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>175792428160.png</string>
		<key>intro</key>
		<string>太阳的光芒笼罩着符文大陆，而其化身也势必如此。-蕾欧娜</string>
		<key>name</key>
		<string>曙光女神·蕾欧娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>175792432633.png</string>
		<key>intro</key>
		<string>于生者而言，掘墓人的工作不可或缺，而在暗影岛，掘墓人的价值更不可估量</string>
		<key>name</key>
		<string>掘墓者·约里克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>rz.png</string>
		<key>intro</key>
		<string>作为法师学院出来的两个讨厌鬼之一，瑞兹从来没合群过,在他7岁时，瑞兹就曾半夜偷入导师的住所，然后用一瓶电能药剂烧焦了校长引以为傲的...</string>
		<key>name</key>
		<string>流浪法师·瑞兹</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ktln.png</string>
		<key>intro</key>
		<string>在军国主义的诺克萨斯，女人的首要责任就是养育强壮的小孩，为参军的丈夫传宗接代，这是意料之中的事。但是有些女人却不把养育当作自己的天性，卡特琳娜便是其中之一...</string>
		<key>name</key>
		<string>不祥之刃·卡特琳娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>173890255948.png</string>
		<key>intro</key>
		<string>有关斯维因的最早记载出现在诺克萨斯养老院一名医生的笔记上。据载，斯维因一瘸一拐地走进病房，没有叫喊也没有抱怨，他的右腿被折成两段，骨头破皮而出。他的肩膀上站着一只阴森的小鸟，仿佛是黏在他肩上似的...</string>
		<key>name</key>
		<string>策士统领·斯维因</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1371200551407.png</string>
		<key>intro</key>
		<string>卡尔玛所的沉着冷静使她成为了村庄各种矛盾的调停者。她的导师总说：&apos;彼能起风，亦能止风...</string>
		<key>name</key>
		<string>天启者·卡尔玛</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>kjs.png</string>
		<key>intro</key>
		<string>在各个维度各个世界之间，有这么一个地方。对有些人来说，这里是外域；对另一些人来说，则是未知空间；然而对更多的人而言，这里是thevoid...</string>
		<key>name</key>
		<string>虚空恐惧·科&apos;加斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>nn.png</string>
		<key>intro</key>
		<string>瓦罗然极东之地被刺骨寒冰所覆盖，在漫长的冬季里，当地居民玩一个奇怪的游戏。他们弄醒一窝冬眠的雪人，然后挨个跳到雪人背上，比赛谁能骑乘...</string>
		<key>name</key>
		<string>雪人骑士·努努</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>amm.png</string>
		<key>intro</key>
		<string>阿木木是英雄联盟世界里最古老的保卫者英雄之一，但他对加入联盟前的生活仍一无所知。阿木木唯一记得的是自己在恕瑞玛沙漠的一座金字塔内醒来。</string>
		<key>name</key>
		<string>殇之木乃伊·阿木木</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wj.png</string>
		<key>intro</key>
		<string>约德尔人在人们心中大多不能跟可怕挂钩。这个随和矮小的种族虽然有点狂野，但某种程度上还是容易亲近的。不过就在最近，有一个约德尔人变得非常坏……</string>
		<key>name</key>
		<string>邪恶小法师·维迦</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>xjd.png</string>
		<key>intro</key>
		<string>在符文之战里有一个转折点，而我们只知道它被称为&apos;审判时&apos;。那天和平常一样，大陆上充满了愤怒的战斗，人们为不同的信仰战斗，然后死去。但在那...</string>
		<key>name</key>
		<string>炼金术士·辛吉德</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tdme.png</string>
		<key>intro</key>
		<string>这个世界上有那么一群选择不在瓦洛兰城邦生活的人，反之，他们选择区小村庄或者是游牧部落生活。在这些未经开拓的地方生活尽管存在一定的危险，但是同样也能享受到远离符文之地法规限制的自由...</string>
		<key>name</key>
		<string>蛮族之王·泰达米尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mdys.png</string>
		<key>intro</key>
		<string>据说蒙多医生是出生在祖安的一个无情的男子，他有无法抑制的冲动去通过实验制造痛苦。在他五岁的时候，他周围邻居的宠物经常失踪；在他十岁的时候...</string>
		<key>name</key>
		<string>祖安狂人·蒙多</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>plk.png</string>
		<key>intro</key>
		<string>普朗克的父亲是令人闻风丧胆的海盗船长&apos;魅影文森特&apos;，也是整个蓝焰岛上最富有、最恐怖的海盗之一。也许有人会认为普朗克会如温室的花朵一般被宠坏...</string>
		<key>name</key>
		<string>海洋之灾·普朗克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mft.png</string>
		<key>intro</key>
		<string>曾经有一个完全和谐的世界，在那里，一切都是这个整个世界的一部分。巨石是一切事物的本原，他们的外来居民则是一个个独立的部分。</string>
		<key>name</key>
		<string>熔岩巨兽·墨菲特</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>xwe.png</string>
		<key>intro</key>
		<string>美丽而致命的希维尔在她的雇佣兵生涯中赢得了无数头衔，而最近她一直是&apos;诺克苏斯的战争女神&apos;。</string>
		<key>name</key>
		<string>战争女神·希维尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>fdtk.png</string>
		<key>intro</key>
		<string>20多年来费德提克独自站在战争学院最东边的召唤室。只有他双眼中发出的燃烧搬的绿色火焰才能刺穿他黑暗的、布满尘埃的家。末日使者就是在这里无声地守着。</string>
		<key>name</key>
		<string>末日使者·费德提克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ke.png</string>
		<key>intro</key>
		<string>许多年前，遥远的天国之中，崇尚自由的炎之天使长凯尔挑战了古板的最高指令.在神圣天国里，命令需要绝对服从，任何质疑都等于背叛。凯尔厌倦了毫无...</string>
		<key>name</key>
		<string>审判天使·凯尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>anwy.png</string>
		<key>intro</key>
		<string>大部分的传说里，凤凰都是从灰烬中重生的火鸟。但很少有人知道，凤凰是一种元素生物，由各自世界里永恒的精粹形成。艾尼维亚来自这样一个世界——...</string>
		<key>name</key>
		<string>冰晶凤凰·艾尼维亚</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tm.png</string>
		<key>intro</key>
		<string>作为班德尔城的斥候队长，提莫是祖国尤德尔最前方的防守者。在斥候队长之外，他还要筹划肥皂盒德比，传授新手斥候誓约，裁定年度大胃王比赛—...</string>
		<key>name</key>
		<string>迅捷斥候·提莫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ax.png</string>
		<key>intro</key>
		<string>弗雷尔卓德美女艾希是英雄联盟召唤师长期以来的最爱之一。作为阿瓦罗萨的直系后代，艾希是传奇三姐妹之一。她们各自宣称统治着居住在瓦洛兰大陆北部冻苔原地带的散乱部落。艾希继承了祖先精通的箭术，因此也继承了阿瓦罗萨&apos;寒冰射手&apos;的称号。</string>
		<key>name</key>
		<string>寒冰射手·艾希</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>an.png</string>
		<key>intro</key>
		<string>她的母亲是一位灰色魔女，她的父亲是一名神秘的术士，这个孩子的血液里流淌着惊人的秘法能量。她两岁时就用魔法驯服了一头森林里的凶猛暗影熊，将...</string>
		<key>name</key>
		<string>黑暗之女·安妮</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cstn.png</string>
		<key>intro</key>
		<string>麦格林突击队一直是班德尔城里的一个传奇。他们拥有横跨数世纪的悠久历史，现在他们仍然还在约德尔人的军队里服役。他们以冷酷英勇而闻名于世，即使是班德尔城里面的勇士们也对他们敬畏有加...</string>
		<key>name</key>
		<string>麦林炮手·崔丝塔娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jks.png</string>
		<key>intro</key>
		<string>除了贾克斯，很少有英雄是通过加入联盟后的行动来衡量自己。贾克斯是目前战争学院最多产的联赛战士。在加入联盟之前，贾克斯只是个平凡的雇佣士兵...</string>
		<key>name</key>
		<string>武器大师·贾克斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>y.png</string>
		<key>intro</key>
		<string>无极武馆是个非常神秘的存在，除了本门弟子其他人根本找不到，传言武馆位于沙漠深处武馆有四位大师镇馆，分别以金银铜铅四条龙命名，他们从不在同时...</string>
		<key>name</key>
		<string>无极剑圣·易</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>kq.png</string>
		<key>intro</key>
		<string>库奇是&apos;尖啸之蛇&apos;里最具盛名的，不单因为他无与伦比的勇气，还有他面对威胁时冷静的头脑。在加入联盟之前，库奇也效力过其他组织，他经常主动接受任务，深入敌后，在危险地带收集情报或传递信息...</string>
		<key>name</key>
		<string>英勇投弹手·库奇</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>alst.png</string>
		<key>intro</key>
		<string>作为氏族的最后幸存者，阿利斯塔在保护家园抵抗强大入侵者时被俘，成为一名奴隶，被迫推动巨大的滑轮升降矿工。在这无尽的痛苦生活里，他唯一的安...</string>
		<key>name</key>
		<string>牛头酋长·阿利斯塔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>blc.png</string>
		<key>intro</key>
		<string>祖安是个被科技和魔法双重扭曲的城市。没有节制的实验毁坏了这座城市。不过在魔法和科技的双重作用下，这里也出现了不少奇观，比如蒸汽机器人就是...</string>
		<key>name</key>
		<string>蒸汽机器人·布里茨</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>slk.png</string>
		<key>intro</key>
		<string>在在符文之战中人中，索拉卡被称为众星之子。作为艾欧尼亚第一位高阶女祭司，她是艾欧尼亚的实际统治者，在符文之战中誓言保卫他们的信仰。</string>
		<key>name</key>
		<string>众星之子·索拉卡</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>nss.png</string>
		<key>intro</key>
		<string>这个被称为内瑟斯的神秘生物从遥远的世界来到联盟，并且是庞大博学的沙漠帝国的一部分。在那里内瑟斯备受尊敬，同时学富五车的他被任命为大图书馆的守护者...</string>
		<key>name</key>
		<string>沙漠死神·内瑟斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wlk.png</string>
		<key>intro</key>
		<string>沃里克曾经是名野蛮的雇佣兵，他被祖安的炼金术士训练成为化学武器工程师。在爱奥尼亚一座城堡的防御战里，当己方部队都被消灭后，沃里克逃走了。...</string>
		<key>name</key>
		<string>嗜血猎手·沃里克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mgn.png</string>
		<key>intro</key>
		<string>莫甘娜很小就随姐姐凯勒加入了审判者，姐妹俩迅速地脱颖而出，残酷的训练也将她们的战斗技能磨练到最高水准。虽然莫甘娜和凯勒是姐妹和亲密的朋友...</string>
		<key>name</key>
		<string>堕落天使·莫甘娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>lms.png</string>
		<key>intro</key>
		<string>瘟疫之地上蔓延的危险魔法影响了该地区的所有生灵，拉莫斯就是一个例子。没人知道来自shurima沙漠的龙龟怎么能毫发无损的穿越kumungu丛林，但拉...</string>
		<key>name</key>
		<string>披甲龙龟·拉莫斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ksd.png</string>
		<key>intro</key>
		<string>一个存在于各个世界之间的地方。对有些知道它存在的人来说是外域，而对于其他的人它则是一片未知之地。大部分人称其为做无尽虚空。不要被它的名...</string>
		<key>name</key>
		<string>虚空行者·卡萨丁</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>se.png</string>
		<key>intro</key>
		<string>德玛西亚和诺克萨斯的战争历史扩散到了瓦罗然的城市。这场冲突最新的产物是诺克苏斯的残暴战士赛恩。赛恩被诺克苏斯当作人形攻城武器使用，在...</string>
		<key>name</key>
		<string>亡灵勇士·赛恩</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tlk.png</string>
		<key>intro</key>
		<string>有一种古老的魔法，早已被人们所遗弃。这是有关大地之力的魔法，也是有关水晶和宝石共鸣的魔法。塔里克的父亲是一个遥远城镇中的医者，塔里克...</string>
		<key>name</key>
		<string>宝石骑士·塔里克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jn.png</string>
		<key>intro</key>
		<string>有这么一些女巫，将自己奉献给自然的原始力量。有一个孤儿迦娜，成长于混乱的祖安，艰难的在街道上讨生活。祖安狂暴的魔法是她眼中最初也是最迷人的存在，迦娜意识到她可以用魔法来保护自己...</string>
		<key>name</key>
		<string>风暴之怒·迦娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jl.png</string>
		<key>intro</key>
		<string>从干枯破裂的河床上升起的是一座大摆钟一样的塔。塔没有门也没有其他入口，固若金汤，无懈可击，无法通过攀爬或飞行进入。塔外面方圆百里寸草...</string>
		<key>name</key>
		<string>时光守护者·基兰</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cst.png</string>
		<key>intro</key>
		<string>蛇纹石河两岸是一个与世隔绝的吉普赛聚居地。任何一天你都会看见一队明轮船在河面急流中上下穿行。虽然宿营地一直在变动，但部族却非常稳定团...</string>
		<key>name</key>
		<string>卡牌大师·崔斯特</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>yfl.png</string>
		<key>intro</key>
		<string>伊芙琳的来历至今仍是个谜，不过第一眼看上去她不太像个人类。有人猜测那是吸血鬼幼年时期的温和外表。也有人认为她在战场上爆发的野性暗示了。</string>
		<key>name</key>
		<string>寡妇制造者·伊芙琳</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>kess.png</string>
		<key>intro</key>
		<string>在符文之战期间，巨大的魔法能量被释放出来，给瓦罗然大陆留下了无数伤痕。很多偏远地区被残余的魔法持续扭曲，成为人迹罕至的地方，嚎叫沼泽...</string>
		<key>name</key>
		<string>死亡颂唱者·卡尔萨斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>sk.png</string>
		<key>intro</key>
		<string>从没有人会把死亡当作儿戏，除非你是萨科-这个瓦罗然大陆上第一个嗜杀的喜剧演员。他总是变着戏法折磨无辜的人，直到他们死去后他才放声大笑...</string>
		<key>name</key>
		<string>恶魔小丑·萨科</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>hmdg.png</string>
		<key>intro</key>
		<string>在班德勒郊外看到yordle一族是很不寻常的事情，但是科技的吸引对于黑默丁格来说无法抵挡的。科学院召唤他来效力，大胆的启用他.</string>
		<key>name</key>
		<string>大发明家·黑默丁格</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>akl.png</string>
		<key>intro</key>
		<string>艾欧尼亚群岛有一个古老的组织，他们将其一生奉献给世界平衡。秩序，混乱，光明，黑暗——所有这一切都必须完美平衡的存在，这就是宇宙之道...</string>
		<key>name</key>
		<string>暗影之拳·阿卡丽</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wde.png</string>
		<key>intro</key>
		<string>在艾欧尼亚，有一群隐修者悉心钻研着瓦洛兰的至深奥秘，探索着灵魂的最深处。他们中的一些精英是文明与和谐的忠实拥护者，然而总有人另辟蹊径...</string>
		<key>name</key>
		<string>兽灵行者·乌迪尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gl.png</string>
		<key>intro</key>
		<string>在瓦洛兰大陆，虽然人们对德玛西亚的军纪存在争议，但是相同点是所有人都尊敬它。平民和士兵都严格遵守着&apos;零容忍&apos;的准则。这意味着在战斗中徳玛西亚军队永远不会找借口托辞、逃跑、或者投降...</string>
		<key>name</key>
		<string>德玛西亚之力·盖伦</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>kn.png</string>
		<key>intro</key>
		<string>艾欧尼亚群岛有一个古老的组织，他们将其一生奉献给世界平衡。秩序，混乱，光明，黑暗——所有这一切都必须完美平衡的存在，这就是宇宙之道...</string>
		<key>name</key>
		<string>狂暴之心·凯南</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>kgm.png</string>
		<key>intro</key>
		<string>符文之地迷人的色彩和香气让克格&apos;莫沉醉，他用自己唯一知道的方法探寻这个奇怪世界里的水果，那就是吞食它们。</string>
		<key>name</key>
		<string>深渊巨口·克格&apos;莫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mezh.png</string>
		<key>intro</key>
		<string>大多数人在恕瑞玛令人刺眼的阳光下变得疯狂，但是当夜幕降临的时候玛尔扎哈也放下了自己的理智。自从他出生之时就受到了先知的祝福而拥有了未卜先知的能力。</string>
		<key>name</key>
		<string>虚空先知·玛尔扎哈</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mdks.png</string>
		<key>intro</key>
		<string>某天，从暗影岛来了一个器宇不凡的家伙。他身高八英尺，深深的隐藏在锋利的盔甲之内，人们只知道他名叫莫德凯撒。从未有人见过他藏在盔甲之中的真面目...</string>
		<key>name</key>
		<string>金属大师·莫德凯撒</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ndl.png</string>
		<key>intro</key>
		<string>超级壁垒的南部是一片被诅咒的凶险之地，因此人烟稀少，而英雄更是凤毛麟角。那里的大部分地区仍然残留着上次符文战争留下的创伤，特别是神秘的库莽古森林...</string>
		<key>name</key>
		<string>狂野女猎手·奈德丽</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ezre.png</string>
		<key>intro</key>
		<string>伊泽瑞尔的血液中流淌着与生俱来的魔法天赋。与此同时，他热爱流浪探险。伊泽瑞尔进入学校后，有望成长为熟练的科技魔法师，但他很快就厌倦了学校的魔法学习...</string>
		<key>name</key>
		<string>探险家·伊泽瑞尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gljs.png</string>
		<key>intro</key>
		<string>超级堡垒山麓孕育着瓦罗然大陆最坚毅的居民，只有不屈不挠并吃苦耐劳的人才能在符文之地最恶劣的环境下生存...</string>
		<key>name</key>
		<string>酒桶·古拉加斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>alf.png</string>
		<key>intro</key>
		<string>在瓦罗然势力范围以外的未知大陆，奥拉夫出生于一个历史悠久、与众不同的勇士世家。他们自称为狂战士，将自己的怒火导入至战斗之中，释放出狂野的愤怒...</string>
		<key>name</key>
		<string>狂战士·奥拉夫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ps.png</string>
		<key>intro</key>
		<string>在巨石峰巅的云端之上，居住着一个叫斯坦帕的部落，他们崇拜战争，视其为第二艺术。他们还记得符文之地发生的符文之战，也知道英雄联盟对部落崛起长久以来的压制...</string>
		<key>name</key>
		<string>战争之王·潘森</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bb.png</string>
		<key>intro</key>
		<string>当其他的约德尔年轻人在载歌载舞，互抛花环的时候，波比还在她父亲的铠甲店里辛勤的工作，双手长满了老茧，身上沾满了油渍，她的父亲...</string>
		<key>name</key>
		<string>钢铁大使·波比</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>s.png</string>
		<key>intro</key>
		<string>艾欧尼亚岛上有一个上古教派，致力于维护均衡。规则与混乱、光明与黑暗——万物必须和谐共存，这就是宇宙的真理。这个教派名为均衡教派，而该教派维护世界均衡的神圣使命则由三个暗影战士来执行...</string>
		<key>name</key>
		<string>暮光之眼·慎</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>zx.png</string>
		<key>intro</key>
		<string>每当德玛西亚的国王嘉文三世在皇宫顶部那熠熠生辉的大理石阳台上发表他那激情澎湃的演讲之时，赵信都会侍立于他的身旁...</string>
		<key>name</key>
		<string>德邦总管·赵信</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>fljme.png</string>
		<key>intro</key>
		<string>在诺克萨斯和暴风平原之间的群山中，坐落着一个寺院。这里守护着许多秘密。寺院里面堆了许多不小心闯入的旅行者尸体...</string>
		<key>name</key>
		<string>猩红收割者·弗拉基米尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jla.png</string>
		<key>intro</key>
		<string>在很久之前，联盟并没有对法师创造人工生命进行任何监管，然而，现在已经彻底禁止了向傀儡灌输灵魂这样在工匠中并不罕见的活动。但是还有这样一位充满幻想德玛西亚工匠-杜兰德.</string>
		<key>name</key>
		<string>哨兵之殇·加里奥</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ejt.png</string>
		<key>intro</key>
		<string>联盟里有很多的勇士，有些人是因为自己的天生神力而著名，有些充满了狡猾与诡计，或者是对于武器的专精，而其余的则只是简单的拒绝死亡。乌尔加特...</string>
		<key>name</key>
		<string>首领之傲·厄加特</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1371103804008.png</string>
		<key>intro</key>
		<string>对于勇敢面对符文之地严酷海洋的人，能拥有一艘属于自己的船和船员，就已是个不错的成就。备受尊敬的赏金猎人莎拉，在她16岁生日时就已经完成了这个目标...</string>
		<key>name</key>
		<string>赏金猎人·厄运小姐</string>
	</dict>
</array>
</plist>
